
experiment/.idea/

experiment/cmake-build-debug/CMakeFiles/

experiment/cmake-build-debug/

dork/.idea/

dork/cmake-build-debug/

dork/firda_example/.idea/

dork/firda_example/__handlers__/

*.exe

firda_example/.idea/

*.pyc
